
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Pet</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <style>
      .main-page-map {
        padding-top: 100px;
      }
    </style>
</head>
<body>
  {% include "../trashpetapp/navbar.html" %}

  
  <script>
    document.getElementById("home-tab").classList.remove("active")
    document.getElementById("garden-tab").classList.remove("active")
    document.getElementById("shop-tab").classList.remove("active")
    document.getElementById("map-tab").classList.remove("active")

    document.getElementById("map-tab").classList.add("active")
    
  </script>

  <div class="main-page-map">
    <h1>Welcome to the map!</h1>
  
  </div>
   

</body>
</html>