
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Pet</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
      />
      <link
        rel="stylesheet"
        href="{% static 'map.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
        crossorigin=""
      />
      <script
        src="https://unpkg.com/leaflet/dist/leaflet.js"
        crossorigin=""
      ></script>
      <script 
      src="https://kit.fontawesome.com/f32a47c063.js" 
      crossorigin="anonymous">
    </script>
    
    <style>
      .main-page-map {
        padding-top: 100px;
      }
    </style>
</head>
<body>
  {% include "../trashpetapp/navbar.html" %}

  <!-- Highlight tab on navbar -->
  <script>
    document.getElementById("home-tab").classList.remove("active")
    document.getElementById("garden-tab").classList.remove("active")
    document.getElementById("shop-tab").classList.remove("active")

    document.getElementById("map-tab").classList.add("active")
    document.getElementById("camera-tab").classList.remove("active")
    
  </script>

  <div class="main-page-map">
    <p style="text-align:left;" ><a id="Distance">temp distance</a>
      <span style="float:right;" id ="leavesCounter">
      <i class="fa-solid fa-leaf"></i>:
      
        {{leaves}} a number
      
      </span>
  </p>
  <p style="text-align:left;" >
    <a id="Time">temp time</a> 

    <span style="float:right;">
    <button  id="stop" class="action-button">Stop Tracking</button>
  <button  id="start-stop" class="action-button">Start Walking</button>
        
    </span>
</p>
  </div>
  <div id="map"></div>
  <script
    src="{% static 'map.js' %}"
    {% for marker in markers %}
            L.marker([{{ marker.latitude }}, {{ marker.longitude }}]).addTo(map)
                .bindPopup("{{ marker.name }}");
    {% endfor %}
  ></script>
  <script>
    //script to update leaves count in database and on screen
    $(document).ready(function() {
      $('#stop-start').click(function() {
        // Get the current number of leaves from the div
        var currentLeaves = parseInt($('#leavesCounter').text().trim());
        //get cookie value
        function getCookie(name) {
          var cookieValue = null;

          //check cookie exists
          if (document.cookie && document.cookie !== '') {
            //split cookies into an array
            var cookies = document.cookie.split(';');

            //loop through each cookie and remove whitespace from string
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();

                //check cookie matches name
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                //get value of cookie
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          //return cookie value
          return cookieValue;
        } 

        // Update the leaves value using AJAX
        $.ajax({
          // URL to Django view for updating leaves
          url: '{% url "update_leaves" %}',  
          method: 'POST',
          headers: { 'X-CSRFToken': getCookie('csrftoken')},
          // Increment the leaves value by 1
          data: {'new_leaves': currentLeaves + 1},  
          success: function(response) {
            // Update the leaves value displayed in the leavesCounter div
            $('#leavesCounter').text(response.new_leaves);
            //log success in console
            console.log('Leaves updated successfully.');
            console.log('leaves value: ', response.new_leaves);
          },
          error: function(xhr, status, error) {
            //error message if request fails
            console.error('Error updating leaves:', error);
          }
        });
      });
    });
  </script>
   

</body>
</html>