
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Pet</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'map.css' %}"
      />
      <link
        rel="stylesheet"
        type="text/css"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
        crossorigin=""
      />
      <script
        src="https://unpkg.com/leaflet/dist/leaflet.js"
        crossorigin=""
      ></script>
    
    <style>
      .main-page-map {
        padding-top: 100px;
      }
    </style>
</head>
<body>
  {% include "../trashpetapp/navbar.html" %}

  <!-- Highlight tab on navbar -->
  <script>
    document.getElementById("home-tab").classList.remove("active")
    document.getElementById("garden-tab").classList.remove("active")
    document.getElementById("shop-tab").classList.remove("active")

    document.getElementById("map-tab").classList.add("active")
    document.getElementById("camera-tab").classList.remove("active")
    
  </script>

  <div class="main-page-map">
    <h1>Welcome to the map!</h1>
  
  </div>
  <div id="map"></div>
  <script
    src="{% static 'map.js' %}"
    {% for marker in markers %}
            L.marker([{{ marker.latitude }}, {{ marker.longitude }}]).addTo(map)
                .bindPopup("{{ marker.name }}");
    {% endfor %}
  ></script>
   

</body>
</html>