<!--Background image credit: Daniel Thomas on ArtStation-->
{% load static %}
{% load trashpetextras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/f32a47c063.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Virtual Pet</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'shop.css' %}?{% now 'U' %}"> <!-- The now U clears the cache and reloads the css as otherwise new updates aren't shown :( -->
    <style>
      .main-page-shop {
        padding-top: 100px;
        text-align: center;
        overflow: auto;
      }


      .hidden {
      display: none; 
    }

    
    </style>
</head>
<body>
  {% include "../trashpetapp/navbar.html" %}

  <!-- Highlight selected tab on navbar -->

  <script>
    document.getElementById("home-tab").classList.remove("active")
    document.getElementById("garden-tab").classList.remove("active")
    document.getElementById("shop-tab").classList.remove("active")
    document.getElementById("map-tab").classList.remove("active")
    document.getElementById("shop-tab").classList.add("active")
    
  </script>

  <!-- display pet -->

  <div class="main-page-shop">

    <!--leaves count for user to see-->
    <div id="leavesCounterContainer">
      <!--leaf icon-->
      <i class="fa-solid fa-leaf"></i>:
      <div id = "leavesCounter">
        <!--django reference-->
        {{leaves}}
      </div>
    </div>

    <div id="pet-container">
        <img src= '{% static "images/petbackground.png" %}'  class="pet-background" alt="pet">
        <img id="eyes" src='{% static "/images/closedeyes.png" %}'class="pet-eyes" alt="pet">
        <img src = '{% static "/images/smile.png" %}' class="pet-smile" alt="pet">
    </div>
    <div id="shop-section">
        <div id="item-reel">

            <!-- Shop items -->
            <!-- if the user has locked items, make them unclickable -->
            
            {% for accessory in accessories %}
          
              <div class="accessory">
                <i class="fa-solid fa-lock {% if not locked_list|keyvalue:accessory.name %}d-none{% endif %}" style="color: #FFD43B;"></i>
                <i accessory-price="{{ accessory.price }}" accessory-name="{{ accessory.name }}" class="fa-solid fa-dollar-sign {% if bought_list|keyvalue:accessory.name or locked_list|keyvalue:accessory.name %}d-none{% endif %}" style="color: #FFD43B;"></i>
                <img src='{% static "/images/" %}{{ accessory.link }}' alt="{{ accessory.name }}" data-name="{{accessory.name}}" class="shop-item">
              </div>

            {% endfor %}

        </div>
    </div>

    <!-- Change pet's colour -->

    <div id="color-menu" style="display: none;">
        <div class="color-option" style="background-color: #f4f0f0;" data-path="/static/images/petbackground.png"></div>
        <div class="color-option" style="background-color: #67aeff;" data-path="/static/images/bluepetbackground.png"></div>
        <div class="color-option" style="background-color: #67e4aa;" data-path="/static/images/greenpetbackground.png"></div>
        <div class="color-option" style="background-color: #ffb5cc;" data-path="/static/images/pinkpetbackground.png"></div>
    </div>

    <!-- buttons to select colour/accessories/enter unlock code -->

    <button id="color-menu-button" class="menu-toggle-button"><i class="fas fa-palette"></i></button>
    <button id="item-menu-button" class="menu-toggle-button"><i class="fas fa-tshirt"></i></button>
    <button id="code-page-button" class="menu-toggle-button" onclick="goToCodes()"><i class="fa-solid fa-key"></i></button>
  </div>

  <button onclick="saveAccessories()">Save</button>

  <script src="https://kit.fontawesome.com/f32a47c063.js" crossorigin="anonymous"></script>
  <script src="{% static 'shop.js' %}"></script>
  <script src="{% static 'animate.js' %}"></script>
  <script src="{% static 'jquery.min.js' %}"></script>

  <script>
    const items = JSON.parse('{{ items | escapejs }}');
    equipped_list = JSON.parse('{{ equipped_list | escapejs }}') 
    pet_colour = JSON.parse('{{pet_colour | escapejs }}')
  </script>

  <script>
    function goToCodes(){
      window.location.href=("{%url 'codes' %}")
    }

    // Get the user's current number of leaves
    var userLeaves = {{ leaves }};

    function getCookie(name) {
          var cookieValue = null;

          // Check cookie exists
          if (document.cookie && document.cookie !== '') {
            // Split cookies into an array
            var cookies = document.cookie.split(';');

            // Loop through each cookie and remove whitespace from string
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();

                // Check cookie matches name
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                // Get value of cookie
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          // Return cookie value
          return cookieValue;
        } 

    //Add chosen accessories to user profile
    function saveAccessories(){
      const accessories = []
      document.querySelectorAll(".pet-layered-item").forEach((item, index) => {
        accessories[index] = item.getAttribute("src");

      });
      

      $.ajax({
              // URL to Django view
              url: '{% url "save_accessories" %}',  
              method: 'POST',
              headers: { 'X-CSRFToken': getCookie('csrftoken')},
              
              data: {'accessories': JSON.stringify(accessories),'pet_colour': pet_colour },  
              success: function(response) {
                console.log('Accessories saved successfully.');
                
              },
              error: function(xhr, status, error) {
                //error message if request fails
                console.error('Error saving accessories:', error);
              }
            });

  
  
  };
      
        

    // Script to buy accessories and update database
    $(document).ready(function() {
      $('.fa-dollar-sign').click(function() {

        // Store the clicked item
        var item = $(this); 

        // Get price of accessory clicked
        var price = parseInt(item.attr('accessory-price'));

        // Get cookie value
        function getCookie(name) {
          var cookieValue = null;

          // Check cookie exists
          if (document.cookie && document.cookie !== '') {
            // Split cookies into an array
            var cookies = document.cookie.split(';');

            // Loop through each cookie and remove whitespace from string
            for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();

                // Check cookie matches name
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                // Get value of cookie
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          // Return cookie value
          return cookieValue;
        } 

        // Check sufficient number of leaves
        if (userLeaves >= price) {

          // Confirm if user wants to buy
          var confirmMessage = "This costs " + price + " leaves.\nWould you like to buy it?";
          if (confirm(confirmMessage)) {
            // Update the user profile using AJAX
            $.ajax({
              // URL to Django view for buying accessories
              url: '{% url "buy_accessory" %}',  
              method: 'POST',
              headers: { 'X-CSRFToken': getCookie('csrftoken')},
              // Reduce the leaves value by the price
              data: {'new_leaves': userLeaves - price, 'accessory_name': item.attr('accessory-name')},  
              success: function(response) {
                // Log success in console
                console.log('Profile updated successfully.');
                console.log('leaves value: ', response.new_leaves);
                // Reload the current page after successful purchase
                window.location.reload();
              },
              error: function(xhr, status, error) {
                // Error message if request fails
                console.error('Error updating leaves:', error);
              }
            });

            // Hide dollar symbol
            item.addClass('d-none');
            alert("Bought successfully!");
            } 
            
        } else {
          alert("Insufficient funds.");
        }

        
    // remove price from user money
    // make accessory bought = True for user

      });
    });

  </script>
</body>
</html>