.main-page-garden{
    width: 100vw; /* Set width to 100% of viewport width */
    height: 100vh; /* Set height to 100% of viewport height */
    /* Additional styling */
    padding: 20px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding in width and height */
}

#plant-container{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50%;
    display: flex;
    transform: translateX(-50%);
    justify-content: center;
    background-color: transparent;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.plant-image{
    align-items: flex-end;
    display: flex;
}

#bin-button{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: medium;
}

#leavesCounterContainer {
    position: fixed;
    top: 10%;
    right: 10px;
    background-color: #00ff2f;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.buttons-container{
    position: fixed;
    top: 10%;
    left: 10px;
    width: 50px;
    height: 50px;
}